/* ================================================================
  Variables
================================================================ */

// Color Variables
$--color-white: #FFFFFF;
$--color-black: #000000;
$--color-grayscale0: #121212 ; // borders
$--color-grayscale1: #333333 ; // texts
$--color-grayscale2: #e4e4e4 ; // backgrounds

// Category colors
$sports-green: #42B073;
$events-brown: #9B836B;
$services-blue: #24BEFF;
$projects-orange: #FF632D;
$business-yellow: #FFD400;

// Typography  
$font-family-barlow: 'Barlow', sans-serif;
 
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-bold: 700;
$typography-margin-bottom: 1rem; 

// Breakpoints 
// You can convert these at http://pxtoem.com 
$bp-s: 20rem; // 320px 
$bp-s-max: 29.938rem; // 479px
$bp-sw: 30rem; // 480px
$bp-sw-max: 47.938rem; // 767px
$bp-m: 48rem; // 768px  
$bp-m-max: 59.938rem; // 959px
$bp-mw: 60rem; // 960px
$bp-mw-max: 71.188rem; // 1139px 
$bp-l: 71.25rem; // 1140px
$bp-lg: 64rem;
$bp-l-max: 81.188rem; // 1299px 
$bp-xl: 81.25rem; // 1300px  