/* ================================================================
  Header
================================================================ */

#background {
  position: fixed; 
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}

header {
  width: 100%;
  a {
    color: $white;
    text-decoration: none;
  }

  #header-container {
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 5rem;
    }
  }

  .toggle-menu {
    width: 44px;
    height: 44px;
    top: 24px;
    right: 32px;
    position: absolute;
    z-index: 2500;
    cursor: pointer;

    .lines {
      background-color: $white;
      height: 3px;
      width: 100%;
      display: block;
      margin: 8px 0;
    }

    @media (min-width: $bp-m) {
        display: none;
    }
  }

  .navigation {
    display: flex;
    align-items: center;

    // rules to mobile
    @media (max-width: $bp-m) {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 2000;
      padding-top: 60px;
    }

    &.active {
      display: flex;

      .search {
        display: none;
      }
    }
  }

  .main-nav {
    margin: 68px 0 0;
    padding: 0 0 40px;

    // rules to mobile
    @media (max-width: $bp-m) {
      width: 90%;
    }

    // rules to desktop
    @media (min-width: $bp-m) {
      margin: 0 30px 0 0;
      padding: 0;
      border: 0;
      float: left;
    }

    ul {
      margin: 0;
      list-style-type: none;

      @media (min-width: $bp-m) {
        float: left;
        padding: 15px 0;
      }

      li {
        margin: 0 0 1rem;
        padding: 0;

        @media (min-width: $bp-m) {
          float: left;
          margin: 0 2rem;
        }

        &.has-dropdown {
          position: relative;

          &.active {
            .dropdown-submenu {
              display: block;
            }
          }
        }
      }

      a {
        padding: 0;
        color: $white;
        font-weight: $fontWeight-normal;
        font-family: $font-family-barlow;

        @media (min-width: $bp-m) {
          line-height: 20px;
          font-weight: $fontWeight-normal;
        }
      }

      ul {
        @media (min-width: $bp-m) {
          display: none;
        }

        li {
          a {
            font-weight: $fontWeight-normal;
          }
        }
      }
    }

    // .dropdown-submenu {
    //   display: none;
    //   position: absolute;
    //   background-color: #f1f1f1;
    //   min-width: 150px;
    //   box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    //   z-index: 1;
    //   right: 0;

    //   @media (max-width: $bp-m) {
    //     display: block;
    //     position: relative;
    //     padding: 0;
    //     background-color: transparent;
    //     box-shadow: none;

    //     a.sub-item {
    //       padding: 0;
    //     }
    //   }

    //   @media (min-width: $bp-m) {
    //     position: absolute;
    //     display: none;

    //     li {
    //       float: none;

    //       &:not(:last-of-type) {
    //         margin-bottom: 10px;
    //       }
    //     }
    //   }

    //   .sub-item {
    //     text-decoration: none;
    //     display: inline;

    //     &:hover {
    //       text-decoration: underline;
    //     }
    //   }
    // }
  }

  .search {
    display: flex;
    margin: 0 1rem;
    align-items: center;
  }

  .external-links {
    .main-nav {
      // rules to mobile
      @media (max-width: $bp-m) {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

/* ================================================================
  Main
================================================================ */

main {
  z-index: 0;
}

/* ================================================================
  Footer
================================================================ */

.footer {
  margin: 0;
}