/* ================================================================
  Header
================================================================ */

#background {
  position: absolute; 
  top: 0;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  @include breakpoint(lg) {
    height: 100vh;
  }
}

header {
  width: 100%;

  #header-container {
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 5rem;
    }
  }
}

/* ================================================================
  Main
================================================================ */

main {
  z-index: 0;
}

.main-banner {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 2rem;
  height: calc(70vh - 149px);
  padding: 2rem;
  justify-content: space-between;

  .banner-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    h1 {
      font-weight: 300;
      strong {
        font-weight: 600;
      }
    }
  
    span {
      font-weight: 300;
    }
  }

  .banner-links {
    display: flex;
    justify-content: space-between;

    .external-link {
      display: flex;
      align-items: center;
      padding: .4rem .8rem;
      border: 1px solid $--color-white;
      border-radius: 1rem;
    }

    .whatsapp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background-color: $sports-green;
    }
  }

  @include breakpoint(lg) {
    padding: 4rem;
    justify-content: baseline;
    height: calc(100vh - 153px);

    h1 {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    span {
      font-size: 1.2rem;
    }
  }
}

.sections-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 16rem;
  // padding: 2rem 0;
  // margin-top: 2rem;
  
  @include breakpoint(lg) {
    padding: 2rem 4rem;
    margin-top: 4rem;
  }
}

/* ================================================================
  Footer
================================================================ */

.footer {
  margin: 0;
}