@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow-ExtraLight.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow-Medium.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/Barlow-Bold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 700;
  font-style: normal;
}

a {
  color: $--color-white;
  text-decoration: none;
}